/* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  box-sizing: content-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;
  background: #fff;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


.group:after {
  content: "";
  clear: both;
  display: block;
}

/*------------*/

@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';
/*---Variables---*/

:root {
  --green-color: #56B68B;
  --background-color: #202426;
  --message-background: #dedede;
}

/*---------*/

body {
  font-family: 'Roboto', sans-serif;
  line-height: normal;
  line-height: 1.3
}

.landing-page {
  height: auto;
  background: grey;
  margin: 0 auto;
  width: 100%;
}



.landing-page-navbar {
  color: white;
  background: var(--background-color) ;      /* light-black*/
}

.landing-page-navbar h1{
  font-size: 32px;
  font-style: oblique;
  margin-left: 40px;
  display: inline-block;
  cursor: default;
}
.landing-page-navbar ul {
  float: right;
  margin-right: 20px;
}

.landing-page-navbar button {
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
  height: 6vh;
  padding: 5px;
  box-sizing: border-box;
}

.landing-page-navbar button:hover {
  background: var(--green-color);
  cursor: pointer;
  color: black;
}
.landing-page ul li {

}

.landing-page .intro-text{
  position: relative;
  font-size: 36px;
  color: white;
  cursor: default;
}

/*------------New Session Modal------------*/
.new-session {
  /*background: #202426;*/
  height: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  color: white;
  overflow: hidden;
}

.new-session .session-options{
  box-sizing: border-box;
  display: block;
  margin: 0 0 30px 83px;
}

.new-session .session-options li{
  float: left;
  margin: 0 auto;
  border-right: 2px solid black;
  width: 90px;
  height: 40px;
  padding: 5px;
  padding-top: 9px;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-style: 'Roboto';
}
.new-session .session-options .session-notselected{
  background: white;
  border-style: outset;
}
.new-session .session-options .session-notselected:hover{
  background: var(--green-color);
}
.session-options .session-selected {
  background: var(--green-color);
  border-style: inset;
}
/*.new-session .session-options li:first-of-type{
  border-left: 0.5px solid white;
}*/

.new-session .session-form {
  position: relative;
  left: 125px;
}
.new-session .session-form label{
  display: block;
  /*margin-left: 110px;*/
}
.new-session .session-form input{
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  /*margin-left: 110px;
  margin-bottom: 10px;*/
  color: black;
  padding-left: 5px;
  background: white;
}


.new-session .session-form button{
  background: var(--green-color);
  padding: 5px 20px;
  border-radius: 10px;
  position: relative;
  left: 50px;
  top: 15px;
}
.user-errors {
  width: 400px;
  position: relative;
  top: -10px;
  left: -80px;
}
/*------------    ------------*/
/*------------Message Index------------*/

.message-index {
  background: var(--message-background);
  display: flex;
  float: right;
  width: 66.66%;
  flex-direction: column;
  height: 94vh;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;

}
.message-list-data{  /* The actual list container*/
  height: 90%;
  padding-top: 20px;
  overflow: scroll;
}
.message-form {
  height: 15%;
}

.msg-list-item {  /*Individual items*/
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: break-word;
}

.msg-list-item:hover{
  border: 0.5px solid #bbb;
  background: #ececec

}

.msg-list-item .message-info {
  display: block;
}
.msg-list-item .message-date {
  float: right;
  margin-bottom: 10px;
}

.msg-list-item .msg-delete-button {
  background: var(--message-background);
  border: 0.5px solid #ccc;
  box-sizing: border-box;
  padding: 3px;
  font-size: 12px;
  border-radius: 5px;
}
/*------------    ------------*/

/*Message form*/

.message-form textarea {
  border: 1px solid #bbb;
  height: 50px;
  border-radius: 5px;
  width: 100%;
  padding: 7px;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: vertical;
  margin-right: 20px;
}
