/* --- RESET --- */


html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  box-sizing: content-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;
  background: #fff;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


.group:after {
  content: "";
  clear: both;
  display: block;
}

/*------------*/

@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';
/*---Variables---*/

:root {
  --green-color: #56B68B;
  --background-color: #202426;
  --background-color-nav: rgba(32,36,38,1);
  --background-color-nav: rgba(77,57,75,1);
  /*--message-background: #eee;*/
  --message-background: #fff;
  --channel-font-color: rgb(171,155,169);
}

/*----Button effects-----*/
button, input[type="submit"] {
 cursor: pointer;
 transition: filter .3s, -webkit-filter .3s;
}

button:hover, input[type="submit"]:hover {
 filter: brightness(85%);
 -webkit-filter: brightness(85%);
}
/*---------*/
body {
  font-family: 'Roboto', sans-serif;
  line-height: normal;
  line-height: 1.3;
  overflow-x: hidden;
}

.landing-page {
  height: auto;
  background: grey;
  margin: 0 auto;
  width: 100%;
}



.landing-page-navbar {
  color: white;
  padding-top: 15px;
  margin-bottom: 8px;
}

.landing-page-navbar h1{
  font-size: 32px;
  font-style: oblique;
  margin-left: 40px;
  display: inline-block;
  cursor: default;
}
.landing-page-navbar ul {
  float: right;
  margin-right: 20px;
}

.landing-page-navbar button {
  /*border-left: 0.5px solid white;*/
  border: 0.5px solid #e7e7e7;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 10px;
  border-radius: 5px;
}

.landing-page-navbar button:hover {
  background: var(--green-color);
  cursor: pointer;
  color: black;
  border: 0.5px solid white;
}
.landing-page ul li {

}
.splash-img-box{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -10;
  background-image: url("splash-img.jpg");
  background-size: cover;
}
.splash-img{
  width: 100%;
  height: 100%;
}
.landing-page .intro-text-box{
  position: absolute;
  top: 44vh;
  right: 25vh;
  /* background: #ffffff; */
  /* opacity: 0.6; */
  left: 30vh;
}
.landing-page .intro-text{
  /*position: relative;*/
  font-size: 36px;
  /*font-weight: bold;*/
  color: black;
  cursor: default;
  text-shadow: 1px 1px 1px #000;
}


/*---Logged In Navbar*/

.logged-in-navbar {
  color: white;
  background-color: var(--background-color-nav);      /* light-black*/
  padding-top: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid grey;
}

.logged-in-navbar h1{
  font-size: 32px;
  font-style: oblique;
  margin-left: 40px;
  display: inline-block;
  cursor: default;
}
.logged-in-navbar ul {
  float: right;
  margin-right: 20px;
}

.logged-in-navbar button {
  /*border-left: 0.5px solid white;*/
  border: 0.5px solid #e7e7e7;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 10px;
  border-radius: 5px;
}

.logged-in-navbar button:hover {
  background: var(--green-color);
  cursor: pointer;
  color: black;
  border: 0.5px solid white;
}
/*------------New Session Modal------------*/
.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.new-session {
  height: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  color: black;
  overflow: hidden;
}

.new-session .session-options{
  box-sizing: border-box;
  display: block;
  margin: 5px 0 30px 60px;
}
/*.new-session .session-options:first-child{
  border-left: 1px solid black;
  border-radius: 4px;
}*/
.new-session .session-options li{
  float: left;
  margin: 0 4px;
  border: 1px solid black;
  /*border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;*/
  width: 90px;
  height: 40px;
  padding: 5px;
  padding-top: 9px;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-style: 'Roboto';
  border-radius: 4px;
  transition: filter .5s, -webkit-filter .5s;
  cursor: default;

}
.new-session .session-options .session-notselected{
  background: #dbdbdb;
  border-style: outset;
}
.new-session .session-options .session-notselected:hover{
  background: var(--green-color);
  filter: brightness(85%);
  -webkit-filter: brightness(85%);
}
.session-options .session-selected {
  background: var(--green-color);
  border-style: inset;
}
/*.new-session .session-options li:first-of-type{
  border-left: 0.5px solid white;
}*/

.new-session .session-form {
  position: relative;
  left: 100px;
}
.new-session .session-form label{
  display: block;
  /*margin-left: 110px;*/
}
.new-session .session-form input{
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  /*margin-left: 110px;
  margin-bottom: 10px;*/
  color: black;
  padding-left: 5px;
  background: white;
}


.new-session .session-form button{
  background: var(--green-color);
  padding: 5px 20px;
  border-radius: 10px;
  position: relative;
  left: 50px;
  top: 15px;
}
.user-errors {
  width: 320px;
  display: inline-block;
  position: relative;
  top: -10px;
  left: -30px
}
/*------------  MAIN CONTENT ------------*/

.main-content {
  width: 100.1%;
  /*height: 100%;*/
  /*width: 100%;*/
  height: 100%;
  /*position: fixed;*/
  background: var(--message-background);
}
/*.main-content-back {
  background-image: url("Black_background.jpg");
  position: fixed;
  width: 100%;
  height: 90%;
  left: 0px;
  top: 0px;
  z-index: -9;
  background-size: cover;
}*/
/*------------Message Index------------*/

.message-index {
  display: flex;
  float: right;
  width: 75%;
  flex-direction: column;
  /* height: 44vh; */
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}
/*----Channel Title----*/

.message-index-info {  /* container that has channel title*/
  height: 6vh;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  /*background: transparent;*/
}

.channel-title {
  padding-left: 20px;
  display: inline-block;
  font-style: oblique;
  color: black;
  line-height: 0.5;
}

.remove-channel-button{
  margin-left: 10px;
  opacity: 0.5;
}

.remove-channel-button:hover{
  opacity: 0.9;
}
.remove-channel-icon{
  font-size: 18px;
}
/*------------    ------------*/

.message-list-container{  /* The actual list container*/
  padding-top: 15px;
}

.message-list-data{  /* The actual list data*/
  overflow: scroll;
  height: 72vh;
}
.message-form {
  height: 6%;
}

.msg-list-item {  /*Individual items*/
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  list-style: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: break-word;
  font-weight: 400;
}
.msg-list-item:nth-child(2n){
  /*background: #dfdfdf*/
  background: #f6f6f6

}
.msg-list-item:hover{
  /*border: 0.5px solid #bbb;*/
  /*background: #f4f4f4*/
}

.msg-list-item .message-info {
  display: block;
}
.msg-list-item .msg-username{
  font-weight: 500;
  font-size: 14px;
  font-style: oblique;
}
.msg-list-item .message-date {
  float: right;
  margin-bottom: 10px;
  font-style: oblique;
  /*color: grey;*/
  color: rgb(158,158,166);
}

.msg-list-item .msg-delete-button {
  display: none;
  background: var(--message-background);
  /*border: 0.5px solid #ccc;*/
  box-sizing: border-box;
  /*padding: 3px;*/
  /*font-size: 12px;*/
  /*border-radius: 5px;*/
  margin-left: 10px;
}
.msg-list-item:hover .msg-delete-button{
  display: inline-block;
  filter: brightness(95%);
  -webkit-filter: brightness(95%);
}
.msg-delete-button .material-icons{
  font-size: 16px;
  transition: filter .3s, -webkit-filter .3s;
}
.msg-delete-button .material-icons:hover{
  filter: brightness(85%);
  -webkit-filter: brightness(85%);
}
/*------------    ------------*/

/*Message form*/

.message-form textarea {
  border: 1px solid #bbb;
  height: 48px;
  border-radius: 5px;
  width: 100%;
  padding: 7px;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: none;
  margin-right: 20px;
  margin-top: 15px;
}

/*------------    ------------*/

/*Channel Index*/
.channel-sidebar{

}
.channel-index {
  display: flex;
  float: left;
  width: 25%;
  flex-direction: column;
  height: 92vh;
  box-sizing: border-box;
  padding: 15px;
  padding-top: 0px;
  /*background: green;*/
  background: var(--background-color-nav)

}
.pub-channels-options{
  height: 6vh;
  /*border-bottom: 1px solid black;*/
  box-sizing: border-box;
  padding-top: 10px;
  font-size: 14px;
  color: var(--channel-font-color);
  display: inline-block;
}
/*.pub-channels-options:hover span{
  cursor: pointer;
}*/
.pub-channels-options__trigger:hover{
  cursor: pointer;
  color: white;
}
.pub-channels-options > h2{
  display: inline-block;
}
.add-pub-channel-icon{
  float: right;
  margin-top: 6px;
}
.material-icons.add-ch-button{
  cursor: pointer;
  transition: filter .3s, -webkit-filter .3s;
  /*position: absolute;
  top: 11vh;
  left: 22vh;*/
}
.material-icons.add-ch-button:hover{
  filter: brightness(85%);
  -webkit-filter: brightness(85%);
}
.public-channel-box{

}
.selected-channel{
  color: green;
}
.pub-channels-options__contentInner{
  max-height: 40vh;
  overflow-y: auto;
}
.pub-channel-lis{
  color: var(--channel-font-color)
}
.pub-channel-lis:hover{
  cursor: default;
}
.pub-channel-lis:selected{
  color: white
}
.pub-channel-container{
  display: block;
}



.direct-channels-options{
  height: 6vh;
  /*border-bottom: 1px solid black;*/
  box-sizing: border-box;
  padding-top: 10px;
  font-size: 14px;
  color: var(--channel-font-color);
  display: inline-block;
}
.direct-channels-options__trigger:hover{
  cursor: pointer;
  color: white;
}
.direct-channels-options > h2{
  display: inline-block;
}
.add-direct-channel-icon{
  float: right;
  margin-top: 6px;
}
.direct-channel-box{

}
.selected-channel{
  color: green;
}
.direct-channels-options__contentInner{
  max-height: 40vh;
  overflow-y: auto;
}
.direct-channel-lis{
  color: var(--channel-font-color)
}
.direct-channel-lis:hover{
  cursor: default;
}
.direct-channel-lis:selected{
  color: white
}
.direct-channel-container{
  display: block;
}
/*------------    ------------*/
/*------------  Channel Form  ------------*/
.channel-form > label{
  display: block;
  font-weight: 700;
  font-size: 18px
}
.channel-name-input{
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 7px;
  padding-left: 6px;
  margin-top: 10px;
  width: 85%;
}
.user-name-result-box{
  position: relative;
  display: block;
  width: 85%;
  height: 100px;
  background: black;
  margin: 10px 0;
}
.user-name-input{
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 7px;
  padding-left: 6px;
  margin-top: 10px;
  width: 85%;
}
.create-channel-button{
  margin: 0 auto;
  display: block;
}
/*------------    ------------*/

/*Spinners*/

/*.icon-loading {
  position: absolute;
  width: 150px;
  top: 50%;
  left: 40%;
}
*/

.fade-in {
  position: absolute;
  top: 50%;
  left: 50%
}

.spinner-rotating-plane{
  width: 10vh;
  height: 10vh
}
.spinner-rotating-plane div{
  width: 10vh;
  height: 10vh
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
    font-size: 12px
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.react-autosuggest__container{

}

.react-autosuggest__container--open{
}

.react-autosuggest__input{
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 7px;
  padding-left: 6px;
  margin-top: 10px;
  width: 85%;
}

.react-autosuggest__suggestions-container{
  height: 100px;
  overflow-y: scroll;
}

.react-autosuggest__suggestions-list{

}

.react-autosuggest__suggestion{
}

.react-autosuggest__suggestion--focused{
}
.react-autosuggest__section-container{

 }
.react-autosuggest__section-title{

}
