/* --- RESET --- */

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  box-sizing: content-box;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;
  background: #fff;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


.group:after {
  content: "";
  clear: both;
  display: block;
}

/*------------*/

@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';
/*---Variables---*/

:root {
  --green-color: #56B68B;
  --background-color: #202426;
  --background-color-nav: rgba(32,36,38,0);
  --message-background: #eee;
}

/*---------*/

body {
  font-family: 'Roboto', sans-serif;
  line-height: normal;
  line-height: 1.3
}

.landing-page {
  height: auto;
  background: grey;
  margin: 0 auto;
  width: 100%;
}



.landing-page-navbar {
  color: white;
  background: var(--background-color-nav) ;      /* light-black*/
  padding-top: 15px;
}

.landing-page-navbar h1{
  font-size: 32px;
  font-style: oblique;
  margin-left: 40px;
  display: inline-block;
  cursor: default;
}
.landing-page-navbar ul {
  float: right;
  margin-right: 20px;
}

.landing-page-navbar button {
  /*border-left: 0.5px solid white;*/
  border: 0.5px solid #e7e7e7;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 10px;
  border-radius: 5px;
}

.landing-page-navbar button:hover {
  background: var(--green-color);
  cursor: pointer;
  color: black;
  border: 0.5px solid white;
}
.landing-page ul li {

}
.splash-img-box{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -10;
  background-image: url("splash-img.jpg");
  background-size: cover;
}
.splash-img{
  width: 100%;
  height: 100%;
}
.landing-page .intro-text-box{
  position: absolute;
  top: 44vh;
  right: 25vh;
  /* background: #ffffff; */
  /* opacity: 0.6; */
  left: 30vh;
}
.landing-page .intro-text{
  /*position: relative;*/
  font-size: 36px;
  font-weight: bold;
  color: black;
  cursor: default;
}

/*------------New Session Modal------------*/
.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.new-session {
  height: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  color: black;
  overflow: hidden;
}

.new-session .session-options{
  box-sizing: border-box;
  display: block;
  margin: 5px 0 30px 70px;
}
.new-session .session-options:first-child{
  border-left: 1px solid black;
  border-radius: 5px;
}
.new-session .session-options li{
  float: left;
  margin: 0 auto;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 90px;
  height: 40px;
  padding: 5px;
  padding-top: 9px;
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-style: 'Roboto';
  border-radius: 5px;
}
.new-session .session-options .session-notselected{
  background: #dbdbdb;
  border-style: outset;
}
.new-session .session-options .session-notselected:hover{
  background: var(--green-color);
}
.session-options .session-selected {
  background: var(--green-color);
  border-style: inset;
}
/*.new-session .session-options li:first-of-type{
  border-left: 0.5px solid white;
}*/

.new-session .session-form {
  position: relative;
  left: 100px;
}
.new-session .session-form label{
  display: block;
  /*margin-left: 110px;*/
}
.new-session .session-form input{
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  /*margin-left: 110px;
  margin-bottom: 10px;*/
  color: black;
  padding-left: 5px;
  background: white;
}


.new-session .session-form button{
  background: var(--green-color);
  padding: 5px 20px;
  border-radius: 10px;
  position: relative;
  left: 50px;
  top: 15px;
}
.user-errors {
  width: 400px;
  position: relative;
  top: -10px;
  left: -80px;
}
/*------------  MAIN CONTENT ------------*/

.main-content {
  background: var(--message-background);
  width: 100.5%;
}
.main-content .main-content-back {
  background-image: url("Black_background.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -10;
  background-size: cover;
}
/*------------Message Index------------*/

.message-index {
  display: flex;
  float: right;
  width: 70%;
  flex-direction: column;
  height: 94vh;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;

}
.message-index-info {
  height: 8vh;
  border: 1px solid black;
  box-sizing: border-box;
}

.message-list-data{  /* The actual list container*/
  height: 90%;
  padding-top: 20px;
  overflow: scroll;
}
.message-form {
  height: 15%;
}

.msg-list-item {  /*Individual items*/
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  list-style: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: break-word;
  font-weight: 400;
}
.msg-list-item:nth-child(2n){
  background: #dcf1d3

}
.msg-list-item:hover{
  border: 0.5px solid #bbb;
  background: #c4f0b1

}

.msg-list-item .message-info {
  display: block;
}
.msg-list-item .msg-username{
  font-weight: 500;
  font-size: 14px;
  font-style: oblique;
}
.msg-list-item .message-date {
  float: right;
  margin-bottom: 10px;
  font-style: oblique;
  color: grey;
}

.msg-list-item .msg-delete-button {
  display: none;
  background: var(--message-background);
  border: 0.5px solid #ccc;
  box-sizing: border-box;
  padding: 3px;
  font-size: 12px;
  border-radius: 5px;
  margin-left: 10px;
}
.msg-list-item:hover .msg-delete-button{
  display: inline-block;

}
/*------------    ------------*/

/*Message form*/

.message-form textarea {
  border: 1px solid #bbb;
  height: 50px;
  border-radius: 5px;
  width: 100%;
  padding: 7px;
  overflow-y: scroll;
  overflow-x: hidden;
  resize: vertical;
  margin-right: 20px;
  margin-top: 15px;
}
button, input[type="submit"] {
 cursor: pointer;
 transition: filter .3s, -webkit-filter .3s;
}

button:hover, input[type="submit"]:hover {
 filter: brightness(85%);
 -webkit-filter: brightness(85%);
}
/*------------    ------------*/

/*Channel Index*/

.channel-index {
  display: flex;
  float: left;
  width: 30%;
  flex-direction: column;
  height: 94vh;
  box-sizing: border-box;
  padding: 15px;

}
